.book-base {
    position: relative;
    /* background-color: #f8dd30; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #ddd;
  }
  .book-body {
    margin: 0px;
    padding: 0px;
    min-height: 91.5vh;
    background-color: #ddd;
  }
  .head-bar {
    margin-top: 100px;
  }
  .dropdown-menu-book {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
  }
  .lottie{
    height:500px;
    width:500px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    padding-left: 10px;
    order: 1;
  }
  .notfound {
    margin-top: 50px;
  }
  /* .search{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  } */
  