.dashboard-section {
  position: relative;
  min-height: 91.5vh;
  /* background-color: #f8dd30; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ddd;
}

.dashboard-container {
  position: relative;
  margin-left: 20vw;
  margin-right: 20vw;

  width: 1000px;
  /* height: 00px; */
}
/* .grid-dashboard{
  display: flex;

} */
.icon-display{
  vertical-align: middle;
}
i.yellow.icon {
  color: #704241!important;
}

/* a0522d */
.ui.card>.content,
.ui.cards>.card>.content {
  color: black;
}

.notification{
  position: fixed;
  bottom: 50px;
  right: 50px; 
}
