.note-base {
  position: relative;
  /* background-color: #f8dd30; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.note-body {
  min-height: 100%;
  background-color: #ddd;
}
.head-bar {
  margin-top: 100px;
}
.dropdown-menu-note {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}
.lottie{
  height:400px;
  width:400px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.notfound {
  margin-top: 50px;
}
.search{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
