.note-base {
  position: relative;
  /* background-color: #f8dd30; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.note-body {
  min-height: 89vh;
}
.head-bar {
  margin-top: 50px;
}
.dropdown-menu {
  display: block;
  margin-top: 100px;
}

.notfound {
  margin-top: 50px;
}
